

$button-size: 32px;
$button-background: transparent;
$button-foreground: #777;
//$button-border: #ddd;
$button-border: transparent;
$color-item-size: 20px;

$font_stack: -apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue", 
  sans-serif;


.treb-toolbar-menu {

  position: fixed;
  width: 160px;
  max-height: 240px;
  border-radius: 3px;
  border: 1px solid $button-border;
  background: #fff;
  z-index: 200;
  display: none;
  box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.05);
  outline: none;

  font-family: $font_stack;

  &.popup-note {

    width: auto;
    max-height: none;

    &>div {

      display: flex;
      flex-direction: column;

      textarea {
        height: 200px;
        font: inherit;
        flex-grow: 1;
      }

      a {
        white-space: nowrap;
        border-radius: 2px;
        border: none; // 1px solid $button-border;
        color: $button-foreground;
        background: #fff;
        margin: 4px;
        margin-left: 0;
        cursor: pointer;
        font: inherit;
        display: inline-block;
      }

    }

  }

  &.popup-options {
    width: auto;
    max-height: none;
  }

  padding: 3px;

  .color-chooser {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .list-holder {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 210px;
    overflow-y: scroll;
  }

  .list {
    // overflow-x: hidden;
    font-size: 14px;
    position: relative;

    .separator {
      position: relative;
      width: 100%;
      height: 6px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 3px;
    }
   

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      width: 100%;
      cursor: default;
      padding: 3px 6px;
      white-space: nowrap;

      &:hover {
        background: #f6f6f6;
      }
    }
  }

  .color-chooser-items {
    overflow-y: scroll;
    flex-grow: 1;
  }

  .color-chooser-item {
    display: inline-block;
    border: 1px solid #ccc;
    width: $color-item-size;
    height: $color-item-size;
    min-width: $color-item-size;
    min-height: $color-item-size;
    border-radius: 3px;
    margin: 3px;
    margin-bottom: 0;

    &.no-color {
      border-style: dashed;
    }

  }

  input[type=text] {
    margin: 3px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 3px;
    font-family: inherit;
  }

}

// these are split out because we reuse them in popup...

.treb-formatting-toolbar svg, .treb-toolbar-menu .options-list-holder button svg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    fill: $button-foreground;
    -moz-transform: scale(1); // fixes ffx blurry svg, not sure why
    // -ms-transform: scale(1); // doesn't un-blurry IE11
}

.options-list-holder .list {
  display: flex;
  flex-direction: column;
}

.options-list-holder button {

  border-radius: 3px;
  overflow: hidden;
  font-size: 1.5em;
  color: $button-foreground;
  min-width: $button-size;
  min-height: $button-size;
  width: $button-size;
  height: $button-size;
  border: 1px solid $button-border;
  background: $button-background;
  background: none;
  position: relative;
  padding: 0; // ios
  margin: 3px;

}

// rebuilding

.treb-formatting-toolbar {
  height: 32px;
  margin-bottom: 12px;
  position: relative;
  // border: 1px dotted orange;

  &.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .treb-formatting-toolbar-inner {

    font-family: $font_stack;
    display: inline-flex;
    flex-direction: row;
    // border: 1px dotted green;

    & button {
      width: $button-size;
      // min-width: $button-size;
      height: $button-size;
      // min-height: $button-size;
      border-radius: 2px;

      border: 1px solid $button-border;
      background: none;
      padding: 0;
      position: relative;
      overflow: hidden;
      font-family: inherit;

      &:hover {
        background: #f6f2f8;
      }

      &.active {
        background: #f6f2f8;
      }

      &.drop-down {
        width: 9px;
        max-width: 9px;
        margin-left: 0;
        overflow: hidden;
        position: relative;

        &::after {
          left: 0px;
          top: 11px;
          position: relative;
          content: '';
          border: 3.5px solid transparent;
          border-top-color: #777;
        }

      }

    }

    & button + button {
      margin-left: 5px;
    }

    & .split-button {
      // border: 1px solid purple;
      display: inline-flex;
      flex-direction: column;
      height: $button-size;
      max-height: $button-size;

      & button {
        position: relative;
        margin-left: 0;
        overflow: hidden;
        height: $button-size / 2;
        max-height: $button-size / 2;
        font-size: 10.5px;
        font-weight: 500;
        line-height: 0;
        // display: flex;
        // align-items: center;

        & span {
          display: inline-block;
          cursor: default;
        }

      }

    }

    & .input {

      button {
        font-size: 24px;
        line-height: 0;
        color: $button-foreground;
        overflow: hidden;
      }

      // border: 1px dotted red;
      display: inline-flex;
      position: static;

      & input {
        // width: 8em;
        // min-width: 8em;
        width: 118px;
        min-width: 118px;

        border: 1px solid $button-border;
        font-size: 14px;
        color: darken($button-foreground, 20%);
        border-radius: 3px;
        background: #f9f9fc;
        outline: none;
        padding: 0 4px;
        font-family: inherit;
        -webkit-appearance: none;

        &::-ms-clear {
          display: none;
        }
      }

    }

    & .separator {
      display: inline-block;
      width: 12px;
      min-width: 12px;
      height: $button-size;
      min-height: $button-size;
    }
  }
}


/*
.X-treb-formatting-toolbar {

  height: 30px;
  margin-bottom: 12px; // used to be margin in the embedded sheet
  // position: static;
  position: relative;
  width: auto;

  // this works (except for IE11)

  &.centered {

    display: flex;
    border: 1px solid green;

    flex-direction: row;
    justify-content: center;

    & .treb-formatting-toolbar-inner {
      border: 1px solid red;
    }
  }

  .treb-formatting-toolbar-inner {

    position: absolute;
    // position: relative;
    // position: static;

    padding: 0 10px;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;

    .toolbar-group {
      display: flex;
      flex-direction: column;
    }

    font-family: $font_stack;

    button {
      display: inline-block;
      // border-radius: 3px;
      overflow: hidden;
      font-size: 1.5em;
      color: $button-foreground;
      min-width: $button-size;
      // max-width: 12px; // $button-size;
      min-height: $button-size;
      width: $button-size;
      height: $button-size;
      border: 1px solid $button-border;

      background: $button-background;
      background: none;
      position: relative;
      margin-left: 5px;
      padding:0;
      overflow: hidden;

      font-family: inherit;

      &:hover {
        background: #f6f2f8;
      }

      &.active {
        background: #f6f2f8;
      }

      &.drop-down {
        position: relative;
        width: 11px;
        max-width: 11px;
        min-width: 11px;
        overflow: hidden;
        padding: 0;
        margin-left: 2px;
        &::after {
          left: 1px;
          position: absolute;
          content: '';
          border: 3.5px solid transparent;
          border-top-color: #777;
        }

      }

      &.input-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    }

    .split-button {
      display: flex;
      flex-direction: column;
      position: relative;

      button {
        height: $button-size / 2;
        min-height: $button-size / 2;
        position: relative;
        // font-size: .7em;
        font-size: 10.5px;
        font-weight: 500;
        overflow: hidden;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // fucking IE11, again // ...what?
        span {
          display: block;
          margin: 0;
          line-height: 0;
          position: relative;
          cursor: pointer;
        }


        &:first-child {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-color: transparent;
        }
        &:last-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

      }

    }

    .input {
      display: flex;
      flex-direction: row;
      position: relative;

      > button {
        width: auto;
        min-width: 30px;
        // min-width: auto;
        max-width: auto;
        padding-left: 6px;
        padding-right: 5px;
        line-height: 1.4;
        margin-left: 6px;
        //border-top-left-radius: 3px;
        //border-bottom-left-radius: 3px;
        //border-top-right-radius: 0px;
        //border-bottom-right-radius: 0px;
        border-radius: 0px;
      }

      > input[type=text] {
        border: 1px solid $button-border;
        font-size: 14px;
        color: darken($button-foreground, 20%);
        border-left: 0px;
        // border-top-right-radius: 3px;
        // border-bottom-right-radius: 3px;
        
        border-radius: 3px;
        background: #f9f9fc;
        outline: none;

        padding: 0 4px;
        margin-top: 0;
        margin-bottom: 0;
        border-style: single;
        width: 8em;
        min-width: 8em;
        font-family: inherit;
        -webkit-appearance: none;

        &::-ms-clear {
          display: none;
        }
      }

    }

    .separator {
      width: 8px;
      min-width: 8px;
      height: $button-size;
      position: relative;
      display: inline-block;

      &::after {
        border-right: 1px solid $button-border;
        content: ' ';
        height: 90%;
        min-height: 90%;
        top: 5%;
        left: 6px;
        position: absolute;
      }

    }

}
}

*/
