node_modules
build
declaration
dist
dist2
.vscode
coverage

temp
etc

build-element

#
# we might want to check this in once it stabilizes, 
# although since it's generated it's not strictly
# necessary
#
doc 

treb-export/test
treb-parser/test

#
# this is a build artifact (post-build, pre-minify). 
# the original file is embed.ts. 
#
treb-embed/extra/embed.js
