node_modules
build
declaration
dist
dist2
.vscode
coverage

treb-export/test
treb-parser/test

#
# this is a build artifact (post-build, pre-minify). 
# the original file is embed.ts. 
#
treb-embed/extra/embed.js
