
$color1:  #8DD3C7;
$color2:  #FFFFB3;
$color3:  #BEBADA;
$color4:  #FB8072;
$color5:  #80B1D3;
$color6:  #FDB462;
$color7:  #B3DE69;
$color8:  #FCCDE5;
$color9:  #D9D9D9;
$color10: #BC80BD;
$color11: #CCEBC5;
$color12: #FFED6F;

$font-stack:  "-apple-system",
  "BlinkMacSystemFont",
  "Segoe UI",
  "Roboto",
  "Oxygen-Sans",
  "Ubuntu",
  "Cantarell",
  "Helvetica Neue",
  "sans-serif";

.treb-chart {

  font-family: $font-stack;

  background: #fff;

  .axis-label {
    font-size: 8.5pt;
  }

  .chart-title {
    font-size: 14pt;
  }

  .chart-column {
    fill: $color1;
  }

  .chart-column-shadow {
    fill: darken($color1, 25%);
  }

  .chart-grid, .chart-ticks {
    stroke: #ddd;
  }

  .chart-line {

    .line {
      fill: none;
      stroke-width: 2px;
      stroke: #39f;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .fill {
      fill: rgba(51, 153, 255, .25);
      stroke-linecap: round;
      stroke-linejoin: round;
    }

  }

  .points {
    stroke-width: 1;
    stroke: #39f;
  }

  .mouse-layer {
    fill: transparent;
  }

  .donut path.callout {
    fill: none;
    stroke: #999;
    stroke-dasharray: 2 2;
  }

  text.callout-label {
    font-size: 10pt;
  }

  .donut path {

    stroke: none;

    // don't use child ordering for color, use explicit series values.
    // we want to tie color to input order, even if the chart sorts the
    // data.

    // I don't like this. we should use order. if necesary, you can
    // add the nodes out of order.

    &.series-1  { fill: $color1; }
    &.series-2  { fill: $color2; }
    &.series-3  { fill: $color3; }
    &.series-4  { fill: $color4; }
    &.series-5  { fill: $color5; }
    &.series-6  { fill: $color6; }
    &.series-7  { fill: $color7; }
    &.series-8  { fill: $color8; }
    &.series-9  { fill: $color9; }
    &.series-10  { fill: $color10; }
    &.series-11  { fill: $color11; }
    &.series-12  { fill: $color12; }

  }  

}
