
$transition_options: .2s ease-in-out;
$sidebar_width: 40px;
$sidebar_button_offset: 50px;
$toolbar_height: 38px;

/**
 * this class is used for the actual grid. we need to 
 * allocate space for sidebar/toolbar, everything else
 * should be taken care of by grid.
 */
.treb-views {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  transition: right $transition_options, top $transition_options;
  display: flex;
  flex-direction: row;
}

.treb-view {
  flex-grow: 1;
  position: relative;
}

.treb-view ~ .treb-view {
  margin-left: 1em;
}

/**
 * this class gets attached to a container if it doesn't already
 * have a size (we check the bounding client rect)
 */
.default-spreadsheet-size {
  width: 680px;
  height: 400px;
  max-width: 100%;
}

/**
 * this class gets added to the container, 
 * everything else should trigger off of this.
 */
.sidebar-open {

  /** resize the container width by X */
  .treb-views {
    right: $sidebar_width;
  }

  /** hide the overlay button */
  .show-sidebar-button {
    opacity: 0;
    pointer-events: none;
  }

  /** resize the sidebar */
  .embedded-spreadsheet-sidebar {
    opacity: 1;
    pointer-events: initial;
  }

}

/**
 * mask the sidebar (via opacity) if the dialog is showing
 */
.sidebar-open .masked ~ .embedded-spreadsheet-sidebar {
  opacity: .6;
  pointer-events: none;
}

.toolbar-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease; // $transition_options;

  right: 0;
  max-width: 100%;
  height: $toolbar_height;
  max-height: $toolbar_height;

}

/** 
 * like sidebar, this class means we're showing the toolbar
 */
.toolbar-open {

  /** resize grid */
  .treb-views {
    top: $toolbar_height;
  }

  /** resize sidebar */
  .embedded-spreadsheet-sidebar {
    top: $toolbar_height;
  }

  .toolbar-container {
    opacity: 1;
    pointer-events: initial;
  }
 
}

/**
 * mask the toolbar (via opacity) if the dialog is showing
 */
.toolbar-open .masked + .toolbar-container {
  pointer-events: none;
  opacity: .6;
}

/**
 * button with an SVG icon. primarily for the sidebar, but we 
 * use it for the overlay button as well (with some tweaks).
 */
.sidebar-button {

  box-sizing: border-box;

  width: 24px;
  height: 24px;
  border: 0;

  line-height: 28px; /* is this necessary, if we're using flex? (...) */

  /* using flex here to center the svgs */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /*
  &.smaller {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  & svg {
    width: 24px;
    height: 24px;
    transition: fill .1s;
    pointer-events: none;
    fill: #ccc;
  }

  &:hover {
    svg {
      fill: #666;
    }
  }
  */

  border: 0;

  &.smaller.treb-icon::after {
    width: 12px;
    height: 12px;

    mask-size: 12px 12px;
    -webkit-mask-size: 12px 12px;

  }

  &.treb-icon::after {

    width: 24px;
    height: 24px;

    content: '';

    mask-position: center;
    -webkit-mask-position: center;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px;
  
    background: #ccc;
    transition: background 0.1s ease;
 
  }

  &.treb-icon:hover::after {
    background: #666;
  }

}

.treb-icon-popout::after {
  mask-image: var(--treb-sidebar-icon-popout);
  -webkit-mask-image: var(--treb-sidebar-icon-popout);
}

.treb-icon-toolbar::after {
  mask-image: var(--treb-sidebar-icon-toolbar);
  -webkit-mask-image: var(--treb-sidebar-icon-toolbar);
}

.treb-icon-export::after {
  mask-image: var(--treb-sidebar-icon-export);
  -webkit-mask-image: var(--treb-sidebar-icon-export);
}

.treb-icon-reset::after {
  mask-image: var(--treb-sidebar-icon-reset);
  -webkit-mask-image: var(--treb-sidebar-icon-reset);
}

.treb-icon-about::after {
  mask-image: var(--treb-sidebar-icon-about);
  -webkit-mask-image: var(--treb-sidebar-icon-about);
}

.treb-icon-fork::after {
  mask-image: var(--treb-sidebar-icon-fork);
  -webkit-mask-image: var(--treb-sidebar-icon-fork);
}

.treb-icon-chevron-left::after {
  mask-image: var(--treb-sidebar-icon-chevron-left);
  -webkit-mask-image: var(--treb-sidebar-icon-chevron-left);
}

.treb-icon-chevron-right::after {
  mask-image: var(--treb-sidebar-icon-chevron-right);
  -webkit-mask-image: var(--treb-sidebar-icon-chevron-right);
}

.treb-icon-revert::after {
  mask-image: var(--treb-sidebar-icon-revert);
  -webkit-mask-image: var(--treb-sidebar-icon-revert);
}

/**
 * this button exists outside of the sidebar and hovers over the grid.
 */
.show-sidebar-button {

  position: absolute;
  border: 1px solid var(--treb-sidebar-button-border-color, var(--treb-ui-border-color, #ccc));
  border-right-width: 0px;
  z-index: 5;
  bottom: $sidebar_button_offset;
  right: 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: var(--treb-sidebar-button-background, #fff);
  transition: opacity $transition_options;

}

/**
 * the sidebar, should manage its buttons 
 */
.embedded-spreadsheet-sidebar {

  box-sizing: border-box;
  border: 0;
  
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: $sidebar_width;
  opacity: 0;
  bottom: 0px;
  overflow: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;

  transition: top $transition_options, opacity $transition_options;

  & .sidebar-button {
    margin-top: 10px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: $sidebar_button_offset;
    }

  }

  & .sidebar-spacer {
    box-sizing: border-box;
    flex-grow: 1;
  }
  
}

/**
 * overrides to add a little more space... maybe get these in the embed class?
 */

$fullscreen_sidebar_width: 50px;
$fullscreen_toolbar_height: 45px;

.treb-fullscreen-padding {
   
  .embedded-spreadsheet-sidebar {
    width: $fullscreen_sidebar_width;

    .sidebar-button {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: $sidebar_button_offset;
      }
    }

  }

  .toolbar-container {
    top: 8px;
    left: 6px;
  }

  &.sidebar-open {
    .treb-views {
      right: $fullscreen_sidebar_width;
    }
  }
  
  &.toolbar-open {

    .treb-views {
      top: $fullscreen_toolbar_height;
    }
  
    .embedded-spreadsheet-sidebar {
      top: $fullscreen_toolbar_height;
    }
 
  
  }

 }

