/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022 trebco, llc. 
 * info@treb.app
 * 
 */

/**
 * we'll add dark theme, and auto support, but not automatically.
 */

@mixin dark {
  --treb-autocomplete-background: #333;
	--treb-autocomplete-border-color: #fff;
	--treb-autocomplete-entry-color: #fff;
	--treb-autocomplete-selected-entry-background: darkred;
	--treb-autocomplete-tooltip-background: darkred;
	--treb-autocomplete-tooltip-border-color: #fff;
	--treb-autocomplete-tooltip-color: #fff;
	--treb-chart-background: #000;
	--treb-chart-grid-color: #976;
	--treb-chart-text-color: #fff;
	--treb-dialog-background: #000;
	--treb-dialog-border-color: #fff;
	--treb-dialog-color: #fff;
	--treb-dropdown-background: #000;
	--treb-dropdown-border-color: #fff;
	--treb-dropdown-caret-active-background: darkred;
	--treb-dropdown-caret-background: #444;
	--treb-dropdown-caret-border-color: #fff;
	--treb-dropdown-caret-color: #fff;
	--treb-dropdown-color: #fff;
	--treb-dropdown-selected-background: darkred;
	--treb-grid-background: #000;
	--treb-grid-default-color: #fff;
	--treb-grid-grid-color: #444;
	--treb-grid-header-background: #444;
	--treb-grid-header-grid-color: #000;
	--treb-note-background: #333;
	--treb-note-border-color: #fff;
	--treb-note-color: #fff;
	--treb-note-marker-color: pink;
	--treb-resize-tooltip-background: #fff;
	--treb-resize-tooltip-color: #000;
	--treb-scale-slider-accent-color: #fff;
	--treb-scale-slider-background: #333;
	--treb-scale-slider-border-color: #fff;
	--treb-selection-color: yellow;
	--treb-selection-fill-opacity: .2;
	--treb-sidebar-button-background: #000;
	--treb-sidebar-button-border-color: #888;
	--treb-stats-value-background: #223;
	--treb-tab-bar-active-tab-background: #444;
	--treb-tab-bar-tab-background: #000;
	--treb-tab-bar-tab-color: #fff;
  --treb-theme-color-1: #222;
  --treb-theme-color-2: #ddd;
	--treb-toolbar-active-button-background: #555;
	--treb-toolbar-button-background: #000;
	--treb-toolbar-hover-button-background: #444;
	--treb-ui-border-color: #666;
	--treb-ui-color: #fff;

	--treb-table-header-background: DarkSlateGray;
	--treb-table-odd-background: rgb(36, 48, 48);
	--treb-table-header-font-weight: 700;
	--treb-table-header-border-top: LightSlateGray;
	--treb-table-header-border-bottom: LightSlateGray;
	--treb-table-footer-border-bottom: LightSlateGray;
	
}

.treb-dark-theme {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  .treb-light-dark-theme { 
    @include dark;
  }
}
