/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2026 trebco, llc. 
 * info@treb.app
 * 
 */

/* shadow for tooltip and (...) */

$default-box-shadow: 0px 1px 4px 2px rgba(109,109,109,0.2);

$tooltip-arrow-size: 4px;

//
// -apple-system came out because it would break safari when rendering 
// certain characters. if you render an acute angle character ("⦟", U+299F)
// in a canvas in safari with -apple-system, javascript will stop. no
// exception, no error, it just stops. 
// 
// that was ca 2023? haven't tested this lately so it may be resolved by now.
//

// "BlinkMacSystemFont" magically turns into "system-ui"? that's incredibly annoying. 

$font-stack: // "-apple-system",
  "BlinkMacSystemFont", // this turns into "system-ui"? wuwt? is that a sass thing?
  "Segoe UI",
  "Roboto",
  "Oxygen-Sans",
  "Ubuntu",
  "Cantarell",
  "Helvetica Neue",
  "sans-serif";
