/**
 * 
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with Foobar. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022 trebco, llc. 
 * info@treb.app
 * 
 */

// FIXME: should be @use? 

@import 'dialog.scss';
@import 'spinner.scss';
@import 'dark-theme.scss';
@import 'treb-icons.scss';

/** 
 * switching to the treb-main class, so we can unify...
 */

.treb-main, .treb-embed-mask {
  
  font-family:
    // -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue", 
    sans-serif;

  font-style: normal;
  font-weight: normal;
  color: #333;
  font-size: 12pt;

  box-sizing: border-box;
  & * { box-sizing: border-box; }

}

// this switched around, we now set class on the parent
.masked .treb-main {
  opacity: .6;
}

.treb-main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;

  transition: opacity .2s ease;

  /*
  &.masked {
    opacity: .6;
  }
  */

}

.treb-embed-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /*
  background: rgba(255, 255, 255, .5);
  */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .2s;  
  pointer-events: none;

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }

}
