
$animate-width-delay: .125s;
$sidebar-control-offset: 40px;
$tabs-sidebar-control-offset: 72px;

/**
 * class defs for auto-injection.
 * FIXME: scope
 */

 .treb-embedded-spreadsheet {
  display: flex;
  flex-direction: row;
  position: relative;

  // ??
  // margin: 14px;

  .sheet-container {
    position: relative;

    /* default size, will be overridden if there's a size on the containing node */
    width: 600px;
    height: 400px;

    &.animate-width {
      transition: width $animate-width-delay;
    }

  }

  .show-sidebar-button {
    background: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-right-color: transparent;
    position: absolute;
    z-index: 40;
    right: 0px;
    width: 24px;
    line-height: 28px;
    bottom: $sidebar-control-offset;
    transition: opacity $animate-width-delay;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      height: 12px;
    }

  }

  .sheet-control-icons {
    line-height: 28px;
    padding-top: 3.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width $animate-width-delay;
    width: 52px;

    &.hidden {
      width: 0px;
    }

    .icon-spacer {
      flex-grow: 1;
    }

    .svg-icon-container {
      padding: 3.5px 14px;

      &:last-child {
        svg {
          height: 12px;
        }
        border: 1px solid transparent; // accounts for border on "show" button
        padding-bottom: $sidebar-control-offset;
      }
  
    }

  }

  .has-tab-bar + .sheet-control-icons {
    .svg-icon-container:last-child {
      padding-bottom: $tabs-sidebar-control-offset;
    }
  }

  .has-tab-bar .show-sidebar-button {
    bottom: $tabs-sidebar-control-offset;
  }

  svg {
    fill: #ccc;
    width: 24px; // 32px;
    height: 24px; // 32px;
    transition: fill .1s;

    &:hover {
      fill: #666;
    }

  }


  /*
  &.treb-embedded-tab-bar {
    margin-bottom: 36px;
  }
  */

}
