/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2025 trebco, llc. 
 * info@treb.app
 * 
 */

@use 'z-index.scss' as *;
@use 'defaults.scss' as *;
 
.treb-main.treb-main {

  /**
   * event mask for mouse drag. currently this is added _within_ node 
   * structure, although it covers the whole viewport. we should share
   * with the mouse mask we are using for resize.
   */
  .treb-mouse-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: transparent;
    z-index: $z-index-mask;
    display: none;

    /** style is attached when drag operation is a resize */
    &.column-resize {
      cursor: col-resize;
    }

    /** style is attached when drag operation is a resize */
    &.row-resize {
      cursor: row-resize;
    }

    /** when resizing a grid selection via the nub */
    &.nub-select {
      cursor: crosshair;
    }

    /** for moving annotations */
    &.move {
      cursor: move;
    }

    /** for resizing annotations */
    &.nw-resize {
      cursor: nw-resize;
    }

  }

}

