/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2024 trebco, llc. 
 * info@treb.app
 * 
 */

.treb-main.treb-main {

  // are these exactly the same? clearly we copied-and-pasted
  // at first. seems like we could consolidate.

  .treb-note {

    position: fixed;
    padding: 7px 10px;
    border-radius: 2px;
    box-shadow: $default-box-shadow;
    z-index: $z-index-note;
    line-height: normal;

    top: 100px;
    left: 100px;

    max-width: 15em; /* which em? seems to be way too large */
    min-width: 15em;

    opacity: 0;
    transition: opacity .2s;

    /* themeable properties */

    font-family: $font-stack;

    border: 1px solid var(--treb-note-border-color, var(--treb-ui-border-color, #ddd));
    color: var(--treb-note-color, #333);
    background: var(--treb-note-background, #fff);
    font-size: 10.5pt;

    white-space: pre-line;

  }

  .treb-hover-title {

    position: fixed;
    padding: 7px 10px;
    border-radius: 2px;
    box-shadow: $default-box-shadow;
    z-index: $z-index-note;
    line-height: normal;

    top: 100px;
    left: 100px;

    /* max-width: 15em; / * which em? seems to be way too large */
    min-width: 10em;

    opacity: 0;
    transition: opacity .2s;

    /* themeable properties */

    font-family: $font-stack; /* can't we inherit? ... */

    border: 1px solid var(--treb-note-border-color, var(--treb-ui-border-color, #ddd));
    color: var(--treb-note-color, #333);
    background: var(--treb-note-background, #fff);

    font-size: 10.5pt;

    white-space: pre-line;

    pointer-events: none;

  }

}
