
$swatch-width: 1.1em;

// TEMP TOP LEVEL

.drop-menu {

  // position: absolute;
  // top: -1000px;
  // left: -1000px;

  position: relative;
  
  background: #fff;
  border-radius: 3px;
  border: 1px solid rgb(209, 213, 219);
  z-index: 9;
  box-shadow: 0 2px 4px #0d131e1a;
  outline: none;
  margin: 0;

//  opacity: 0;
  pointer-events: none;
  transition: opacity .125s;

  width: 0px;

  &.visible {
    opacity: 1;
    pointer-events: initial;

    .comment-editor textarea {
      resize: both;
    }

  }

  &.scroll {
    max-height: 18em;
    overflow-y: auto;
  }

  z-index: 999;

  // position:fixed takes it out of the size calc on initial render, so the 
  // toobar doesn't get taller (which screws up scrolling). we can change the
  // position value we move it (-> absolute).

  // position: fixed;
  top: 30px;

  padding: .25em .25em;

  // we _should_ use li/ with a class instead of this

  hr {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    border-bottom-width: 1px;
    border-bottom-color: rgb(209, 213, 219);

    margin-bottom: .5em;
    margin-top: .5em;
  }

  ul {
    margin: 0;

    list-style-type: none;
    padding-left: 0;

    li + li {
      margin-top: .125em;
    }

    button {
      border-color: transparent;
    }

    button.text {
      display: inline-flex;
      justify-content: flex-start;
      width: 100%;
      white-space: nowrap;
      font-size: .875em;
      padding: 0 1em;
    }

  }
}

.treb-toolbar {

  display: flex;
  flex-direction: row;
  position: relative;

  // ---

  overflow: scroll;
  scrollbar-width: none; // Firefox 
  -ms-overflow-style: none;  // Internet Explorer 10+

  &::-webkit-scrollbar { // WebKit 
    width: 0;
    height: 0;
  }

  // ---

  .staging {
    display: none;
  }

  // wide toolbar is default (god bless sass comments)

  .group.narrow {
    display: none;
  }

  .group.wide {
    display: flex;
  }

  & > *:not(.narrow) + *:not(.narrow) {
    margin-left: 0.5em;
  }

  // narrow toolbar 

  &.narrow {

    .group.wide {
      display: none;
    }    

    .group.narrow {
      display: flex;
    }

    & > *:not(.wide) + *:not(.wide) {
      margin-left: 0.5em;
    }

  }

}

.treb-toolbar, .treb-toolbar-drop-menu {

  font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue", 
                sans-serif;

  font-style: normal;
  font-weight: normal;
  color: #333;
  font-size: 16px;

  box-sizing: border-box;
  * { box-sizing: border-box; }

  .comment-editor {
    display: flex;
    flex-direction: column;
    padding: .25em;

    textarea {
      font-family: inherit;
      color: inherit;
      font-size: .875em;
      flex-grow: 1;
      min-height: 14em;
      min-width: 10em;
      outline: none;
      border: 1px solid rgb(209, 213, 219);
      border-radius: 0.125em;
      resize: none;
    }

    .comment-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: .5em;

      button {
        font-family: inherit;
        font-size: .875em;
        width: auto;
        padding: 0 .5em;
        height: 32px;
        min-height: 0;
      }

      button + button {
        margin-left: .5em;
      }

    }

  }

  .container, button {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.125em;
    outline: none;
  }

  button {

    color: inherit;

    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;

    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;

    &.color-button {
      flex-direction: column;
      font-size: .9em;

      & .color-bar {
        width: 1.2em;
        height: 3px;
        margin-top: 2px;
        background: currentColor;
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,.125);
      }
    }

    &:hover {
      background: #f3f4f6;
    }

    &.active, &:focus {
      background: #f3f4f6;
    }

    svg {
      fill: currentColor;
      width: 1em;
      height: 1em;

      path.fill-none {
        fill: none;
      }

      &.symbol {
        width: 1.25em;
        height: 1.25em;

        path {
          stroke: currentColor;
          stroke-width: 1px;
          fill: none;
        }
      }

    }

    .active-icon {
      display: none;
    }

    &.active .active-icon {
      display: initial;
    }

    &.active .inactive-icon {
      display: none;
    }

    & > * {
      pointer-events: none;
    }

  }

  .color-chooser-main {
    padding: .25em;
  }

  .new-color {

    margin-top: .5em;

    display: flex;
    flex-direction: row;

    > * + * {
      margin-left: .25em;
    }

    input, button {
      border-radius: 3px;
      border: 1px solid rgb(209, 213, 219);
    }

    input {
      flex-grow: 1;
      width: 6em;
      font-family: inherit;
      outline: none;
      padding: 2px 6px;
    }

    button {
      min-height: 28px;
      min-width: 28px;
      height: 28px;
      width: 28px;
    }

  }

  .color-header {
    font-size: .8em;
    margin-bottom: .2em;
    padding-bottom: .2em;
    border-bottom: 1px solid currentColor;
  }

  .other-colors {
    margin-top: .5em;
  }

  .color-list {
    
    display: flex;
    flex-direction: column;

    .color-list-row {
      display: flex;
      flex-direction: row;
    }

    button.color-swatch {

      &.default-color {
        background: #fff;
        border: 1px dashed #333;
      }

      border: 1px solid rgb(209, 213, 219);
      
      width: $swatch-width; /* 1.375em; */
      height: $swatch-width; /* 1.375em; */
      min-height: $swatch-width; /* 1.375em; */
      min-width: $swatch-width; /* 1.375em; */

      margin: 3px;
      padding: 0;
    }

  }

  .container {
    position: relative;
    width: 8em;
  }

  .container > input {
    font-family: inherit;
    font-size: .85em; /* ?? */
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding-left: .5em;
    padding-right: .5em;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    outline: none;
  }

  .container.font-size {
    width: 3em;
    // & > input { font-size: .8em; }
  }

  button.drop {
    width: auto;
    min-width: 13px;

    position: relative;
    &::after {
      content: '';
      position: absolute;
      border: 4px solid transparent;
      border-top-color: currentColor;
      right: 2px;
      top: 12px;
    }

    &.icon {
      padding-left: 6px;
      padding-right: 14px;
    }

  }

  .group {
    display: flex;
    position: relative;

    & > *:not(:last-child) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    & > * + *:not(.drop-menu) {
      border-left-width: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

  }
 

  .split-button {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    button {
      padding: 0px;
      height: 16px;
      min-height: 16px;
      div {
        font-size: 0.625em;
      }
    }

    & > *:not(:last-child) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    & > * + * {
      border-top-width: 0px;
      border-top-left-radius: 0px; 
      border-top-right-radius: 0px;      
    }

  }


}