/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2023 trebco, llc. 
 * info@treb.app
 * 
 */

.treb-main.treb-main {

  .treb-tooltip {

    display: none;
    pointer-events: none;
    position: fixed;
    padding: 2px 10px;
    border-radius: 2px;
    box-shadow: $default-box-shadow;
    z-index: $z-index-tooltip;
    line-height: normal;

    &.arrow-up {
      &::after {
        box-sizing: border-box;
        position: absolute;
        top: calc(-2 * $tooltip-arrow-size);
        left: calc(50% - $tooltip-arrow-size);
        width: calc(2 * $tooltip-arrow-size);
        height: calc(2 * $tooltip-arrow-size);
        overflow: hidden;
        content: ' ';
        border: $tooltip-arrow-size solid transparent;
        border-bottom-color: inherit;
      }
    }

    &.arrow-left {
      &::after {
        box-sizing: border-box;
        position: absolute;
        left: calc(-2 * $tooltip-arrow-size);
        top: calc(50% - $tooltip-arrow-size);
        width: calc(2 * $tooltip-arrow-size);
        height: calc(2 * $tooltip-arrow-size);
        overflow: hidden;
        content: ' ';
        border: $tooltip-arrow-size solid transparent;
        border-right-color: inherit;
      }
    }

  }

}

