/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2024 trebco, llc. 
 * info@treb.app
 * 
 */

/* z-index stacking */

$z-index-contents:                    8;
$z-index-grid-selection:             10;
$z-index-frozen-selection:           12;
$z-index-tile-cover:                 14;
$z-index-annotations:                16;
$z-index-headers:                    18;
$z-index-corner:                     20;
$z-index-header-tile-cover:          22;
$z-index-cell-editor:                24;
$z-index-scroller:                   26; /* legacy only */

$z-index-spill-border:               35;

$z-index-autocomplete:               39;
$z-index-tooltip:                    39;
$z-index-dropdown-caret:             39;
$z-index-note:                       39;
$z-index-sort-button:                39;
$z-index-scale-popup:                40;
$z-index-error-highlight:            40;
$z-index-mask:                     9999;


