
.treb-dark { 
	--treb-autocomplete-background: #333;
	--treb-autocomplete-border-color: #fff;
	--treb-autocomplete-entry-color: #fff;
	--treb-autocomplete-selected-entry-background: darkred;
	--treb-autocomplete-tooltip-background: darkred;
	--treb-autocomplete-tooltip-border-color: #fff;
	--treb-autocomplete-tooltip-color: #fff;
	--treb-chart-background: #000;
	--treb-chart-grid-color: #976;
	--treb-chart-text-color: #fff;
	--treb-dialog-background: #000;
	--treb-dialog-border-color: #fff;
	--treb-dialog-color: #fff;
	--treb-dropdown-background: #000;
	--treb-dropdown-border-color: #fff;
	--treb-dropdown-caret-active-background: darkred;
	--treb-dropdown-caret-background: #444;
	--treb-dropdown-caret-border-color: #fff;
	--treb-dropdown-caret-color: #fff;
	--treb-dropdown-color: #fff;
	--treb-dropdown-selected-background: darkred;
	--treb-grid-background: #000;
	--treb-grid-default-color: #fff;
	--treb-grid-grid-color: #666;
	--treb-grid-header-background: #444;
	--treb-grid-header-grid-color: #000;
	--treb-note-background: #333;
	--treb-note-border-color: #fff;
	--treb-note-color: #fff;
	--treb-note-marker-color: pink;
	--treb-resize-tooltip-background: #fff;
	--treb-resize-tooltip-color: #000;
	--treb-scale-slider-accent-color: #fff;
	--treb-scale-slider-background: #333;
	--treb-scale-slider-border-color: #fff;
	--treb-selection-color: yellow;
	--treb-selection-fill-opacity: .2;
	--treb-sidebar-button-background: #000;
	--treb-sidebar-button-border-color: #888;
	--treb-tab-bar-active-tab-background: #444;
	--treb-tab-bar-tab-background: #000;
	--treb-tab-bar-tab-color: #fff;
  --treb-theme-color-1: #222;
  --treb-theme-color-2: #ddd;
	--treb-toolbar-active-button-background: #555;
	--treb-toolbar-button-background: #000;
	--treb-toolbar-hover-button-background: #444;
	--treb-ui-border-color: #666;
	--treb-ui-color: #fff;
}

 