/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022 trebco, llc. 
 * info@treb.app
 * 
 */

/**
 * this is getting attached to the document (why? b/c fixed pos?)
 * so it inherits a lot. that's not good.
 */

   /* this is no longer attached to document, we can trim some of these */
  /* also a lot of this should move to theme */


.treb-main .treb-autocomplete {


  box-sizing: border-box;
  * { box-sizing: border-box; }

  position: fixed;
  top: -1000px;
  font-size: inherit;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  max-height: 10em;
  overflow-y: auto;
  z-index: $z-index-autocomplete;

  ul {

    font-size: inherit;
    font-weight: inherit;

    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      font-size: inherit;
      font-weight: inherit;
  
      padding: 0;
      margin: 0;

      a {
        font-size: inherit;
        font-weight: inherit;
        display: inline-block;
        width: 100%;
        padding: 3px 6px;
        text-decoration: none;
        cursor: default;
        color: inherit;
      }
    }

    /*
    here we unwind the selected style if there's a hover,
    unless you're hovering over the selection. and so on.
    * /

    &:hover li a.selected {
      background: inherit;
      color: inherit;

      &:hover {
        background: #339966;
        color: #fff;
      }

    }
    */

  }
}

.treb-main .treb-autocomplete-tooltip {
  z-index: $z-index-autocomplete;
  top: -1000px;
  position: fixed;
  white-space: pre;
}
