

.treb-main {

  /* flex patch for chrome */

  .treb-formula-bar-container {

    display: block;
    order: 1;

    & .treb-formula-bar {

      display: flex;
      flex-direction: row;
      text-align: left;

      padding: 6px 2px;

      max-width: 100%;
      overflow-x: hidden; /* last ditch for IE11 */
      
      /** label for selection address */
      .address-label {
        
        width: 95px;
        min-width: 95px;

        min-height: 1.5em;
        height: 1.75em;
        border: 1px solid #ccc;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3px;

        margin-right: 6px;

        & > div {
          outline: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .expand-button {
        background: transparent;
        border: 0;
        border-radius: 2px;
        margin-left: 2px;
        padding: 1px;
        outline: none;
        height: 1.75em;

        &::after {
          content: ' ';
          border: 5px solid transparent;
          position: relative;
          display: inline-block;
          border-top-color: #999;
          padding: 0;
          margin: 0;
          top: -6px;
        }
      }

      &.expanded {
        .expand-button::after {
          border-top-color: transparent;
          border-bottom-color: #999;
          top: -12px;
        }
      }

      .editor-container {
        border: 1px solid #ccc;
        border-radius: 2px;
        flex-grow: 1;
        
        height: 1.75em;

        display: flex;
        min-width: 0px;
        flex-direction: column;
        justify-content: center;


        /* moved to theme
         &.locked {
          background: blue;
        }
        */

      }

      &.expanded {
        .editor-container {
          transition: height .1s ease-in-out;
          height: 4.5em;
          .formula-editor {
            overflow-y: auto;
          }
        }
      }

      .formula-editor {
        width: 100%;
        margin: 2px;
        outline: none;
        overflow-y: hidden;
        overflow-x: hidden;

        /** 
         * 1.35 is better on safari, seems like a wash on windows.
         * can we browser-limit this? (...)
         */
        line-height: 1.35; /* normal; */

        flex-grow: 1; /* keeps content at the top */
        min-height: 1em;

        /* I don't like this, let's figure out a better way w/ wrapping */

        /**
         * FIXME: we're using this for a single-line formula, but
         * it needs to come out for multiline (if we do that).
         */

        /*
        white-space: nowrap;
        text-overflow: ellipsis;

        &:focus {
          text-overflow: clip;
        }
        */

      }

      /** f(x) button, optional */
      .formula-button {
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-left: 6px;
        height: 1.75em;
        overflow: hidden;
        white-space: nowrap;

        .text-1 {
          font-style: italic;
          &:after {
            content: 'f';
          }
          padding-right: .1em;
        }
        .text-2 {
          font-size: .7em;
          &:after {
            content: '(x)';
          }
        }
        
      }
    }
  }

}