/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2023 trebco, llc. 
 * info@treb.app
 * 
 */

.treb-main .treb-grid {

      /* double node stucture for better control */
      /* control of what? */

      /* 
       * the original structure used table/table-cell for layout,
       * which has some nice properties but also has some legacy
       * weirdness. we should be able to get what we want without
       * that. (what we want being full-height, full-width, bottom
       * justify) (I think)
       */

      /*
       * the only way to do this without the table is to have _three_
       * nodes -- the container, which maps to the cell; an inner container,
       * which stretches horizontally and vertically; and then the actual
       * editor, which sits at the bottom (normally). is this really better
       * than the table structure?
       */

      /*
       * so we wound up with three nodes _and_ the table -- the worst 
       * of all worlds! but it does what we want, aligning bottom and then
       * one of left/right/center, growing in the right direction(s).
       */

      /*
       * there's a new issue, apparently recent in chrome/chredge. when you
       * start the editor, the cursor is at the top of the cell. when you enter
       * any text, it drops to the bottom. strange, but we're kind of abusing 
       * the thing so not a huge surprise. we may need to rebuild. just keep
       * the goals in mind.
       *
       * we can fix in chrome without tables, but then mozilla goes crazy...
       * cursor is raised 50%. then if you press space-backspace, so it's
       * still empty, the cursor goes to the right place. (...)
       *
       * need to check safari
       */ 

      .overlay-editor-container {
        padding: 0;
        margin: 0;

        /* gets positioned to the rect */
        position: absolute;

        /* gets set on edit, along with pointer-events */
        opacity: 0;

        /* probably unecessary */
        outline: none;

        /* should not see * /
        background: orange; */

        z-index: $z-index-cell-editor;

      }

      .overlay-inset {

        display: table;
        border-collapse: collapse;
        border-spacing: 0px;
        position: absolute;

        height: 100%;
        min-width: 100%;

        margin-bottom: -10px;

        &.align-left {
          left: 0px;
        }

        &.align-center {
          /* left: calc(50% + 1px); */
          left: 50%;
          transform: translateX(-50%);
          .overlay-editor {
            text-align: center;
            padding-right: 1px;
          }
        }

        &.align-right {
          right: 0px;
          .overlay-editor {
            text-align: right;
            padding-right: 2.5px;
          }
        }

        // testing
        // border: 1px solid green;
        display: block;
        position: relative;

        &.align-right {
          right: 0px;
          .overlay-editor {
            text-align: right;
            padding-right: 3px;
            right: 0px;
          }
        }

        &.align-center {
          /* left: calc(50% + 1px); */
          left: 50%;
          transform: translateX(-50%);
          .overlay-editor {
            text-align: center;
            padding-right: 1px;
            left: 50%;
            transform: translateX(-50%);
            }
        }

      }

      .overlay-editor {
        // position: absolute;
        position: relative;

        /* V H */
        padding: 0px 4px;


        white-space: nowrap;
        vertical-align: bottom;

        display: table-cell;

        outline: none; /* new chrome style */
  
        // testing
        position: absolute;
        outline: 2px dashed red;
        // display: block;
        // height: 100%;
        bottom: 0px;

      }

  

}
