
.treb-main {
  .treb-grid {

      /* double node stucture for better control */
      /* control of what? */

      /* 
       * the original structure used table/table-cell for layout,
       * which has some nice properties but also has some legacy
       * weirdness. we should be able to get what we want without
       * that. (what we want being full-height, full-width, bottom
       * justify) (I think)
       */

      /*
       * the only way to do this without the table is to have _three_
       * nodes -- the container, which maps to the cell; an inner container,
       * which stretches horizontally and vertically; and then the actual
       * editor, which sits at the bottom (normally). is this really better
       * than the table structure?
       */

      /*
       * so we wound up with three nodes _and_ the table -- the worst 
       * of all worlds! but it does what we want, aligning bottom and then
       * one of left/right/center, growing in the right direction(s).
       */

      .overlay-editor-container {
        padding: 0;
        margin: 0;

        /* gets positioned to the rect */
        position: absolute;

        /* gets set on edit, along with pointer-events */
        opacity: 0;

        /* probably unecessary */
        outline: none;

        /* should not see * /
        background: orange; */

        z-index: $z-index-cell-editor;

      }

      .overlay-inset {

        display: table;
        border-collapse: collapse;
        border-spacing: 0px;
        position: absolute;

        height: 100%;
        min-width: 100%;

        margin-bottom: -10px;

        &.align-left {
          left: 0px;
        }

        &.align-center {
          /* left: calc(50% + 1px); */
          left: 50%;
          transform: translateX(-50%);
          .overlay-editor {
            text-align: center;
            padding-right: 1px;
          }
        }

        &.align-right {
          right: 0px;
          .overlay-editor {
            text-align: right;
            padding-right: 2.5px;
          }
        }

      }

      .overlay-editor {
        position: absolute;
        position: relative;

        /* V H */
        padding: 0px 4px;


        white-space: nowrap;
        vertical-align: bottom;

        display: table-cell;

        outline: none; /* new chrome style */
  
      }

      /* here we go again... * /

      .overlay-editor-container {
        padding: 0;
        margin: 0;

        / * gets positioned to the rect * /
        position: absolute;

        / * gets set on edit, along with pointer-events * /
        opacity: 0;

        / * probably unecessary * /
        outline: none;

        z-index: $z-index-cell-editor;

      }

      .overlay-inset {

        position: absolute;
        height: 100%;
        min-width: 100%;

        &.align-left {
          .overlay-editor {
            padding-left: 4.5px;
            padding-right: 4px;
          }
        }

        &.align-center {
          left: calc(50%);
          transform: translateX(-50%);
          .overlay-editor {
            text-align: center;
            transform: translateX(-50%) translateY(-100%);
            left: calc(50%);
            padding-left: 4.5px;
            padding-right: 2px;
          }
        }

        &.align-right {
          right: 0px;
          .overlay-editor {
            text-align: right;
            transform: translateX(-100%) translateY(-100%);
            left: calc(100%);
            padding-left: 2.5px;
            padding-right: 2.5px;
          }
        }

      }

      .overlay-editor {
        position: relative;
        top: calc(100%);
        transform: translateY(-100%);
        display: inline-block;
 
        white-space: nowrap;

        outline: none; / * new chrome style * /
  
      }
      */
  }
}
