
/**
 * tab bar falls under .treb-main, which is a flex column layout.
 */

.treb-main {

  /* flex patch for chrome */

  .treb-tab-bar-container {

    /* 
     * NOTE: this is becoming flex/row/space-between so that RiskAMP web 
     * can insert a node in there. not sure that this is a useful long-term
     * way to handle this, but it's acceptable for now.
     *
     * NOTE: that causes some safari layout issues. I think this is related
     * to flex layout and calculated size (as usual). 
     *
     * Issue 1 is compressing the tab bar. that seems to be resolved by
     * setting treb-tab-bar height to 100%.
     *
     * Issue 2 is that the size changes when adding/removing tabs. it seems
     * like some pixels get shifted off screen.
     * 
     * Can we just solve this a different way for RAW, and leave tabs alone?
     * (...)
     */ 

     /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     */

    order: 3;

    & .treb-tab-bar {
      display: flex;
      flex-direction: row;
      z-index: 1;
    }

    /* tabs should be under tab bar? (...) */

    & .tab, & .add-tab { /* , & .delete-tab { */

      font-size: inherit;
      padding: .25em .75em;
      cursor: default;
      display: inline-block;
      display: inline-flex;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #ccc;
      border-top-width: 0px;
      z-index: 1;
      margin-right: -2px;

    }

    & .delete-tab {

      font-size: inherit;
      padding: .25em .75em;
      cursor: default;
      display: inline-flex;
      align-items: center;
      flex-direction: row;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      /* border: 1px solid #ccc; */
      border-top-width: 0px;
      z-index: 1;
      margin-right: -2px; 
      /* margin-right: 1em; */

      svg {
        width: 1em;
        height: 1em;
        opacity: .5;
        pointer-events: none;
        transition: opacity .125s ease-in-out;
      }

      &:hover svg {
        opacity: .75;
      }

      path {
        stroke: currentColor;
        stroke-width: 1.5px;
        stroke-linecap: round;
      }

    }

    & .tab-bar-spacer {
      flex-grow: 1;
    }

    /** don't overflow/ellipsis the add tab button */
    & .tab {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    & .tab.selected {
      z-index: 2;
    }

  }

}
