
/**
 * tab bar falls under .treb-main, which is a flex column layout.
 */

.treb-main {

  /* flex patch for chrome */

  .treb-tab-bar-container {

    display: block;
    order: 3;

    & .treb-tab-bar {
      display: flex;
      flex-direction: row;
      z-index: 1;
    }

    /* tabs should be under tab bar? (...) */

    & .tab, & .add-tab {

      font-size: inherit;
      padding: .25em .75em;
      cursor: default;
      display: inline-block;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #ccc;
      border-top-width: 0px;
      z-index: 1;
      margin-right: -2px;

    }

    /** don't overflow/ellipsis the add tab button */
    & .tab {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    & .tab.selected {
      z-index: 2;
    }

  }

}
