/*
 * This file is part of TREB.
 *
 * TREB is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software 
 * Foundation, either version 3 of the License, or (at your option) any 
 * later version.
 *
 * TREB is distributed in the hope that it will be useful, but WITHOUT ANY 
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
 * details.
 *
 * You should have received a copy of the GNU General Public License along 
 * with TREB. If not, see <https://www.gnu.org/licenses/>. 
 *
 * Copyright 2022-2023 trebco, llc. 
 * info@treb.app
 * 
 */


.treb-sort-button {

  z-index: $z-index-note;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 100px;
  left: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease;

  &::after {
    box-sizing: border-box;
  }

  &.asc {

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
      width: .8em;
      height: .8em;
      border: .4em solid transparent;
      border-top-color: currentColor;
      opacity: .5;
    }

  }

  &.desc {

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      width: .8em;
      height: .8em;
      border: .4em solid transparent;
      border-bottom-color: currentColor;
      opacity: .5;
    }

  }

}
