
/* z-index stacking */

$z-index-contents:                    8;
$z-index-grid-selection:             10;
$z-index-frozen-selection:           12;
$z-index-tile-cover:                 14;
$z-index-annotations:                16;
$z-index-headers:                    18;
$z-index-corner:                     20;
$z-index-header-tile-cover:          22;
$z-index-cell-editor:                24;
$z-index-scroller:                   26; /* legacy only */
$z-index-autocomplete:               39;
$z-index-tooltip:                    39;
$z-index-dropdown-caret:             39;
$z-index-note:                       39;
$z-index-error-highlight:            40;
$z-index-mask:                     9999;


